<div class="top-hero">
  <h1 class="app-title">-3good things- mental manage diary　</h1>

  <p class="app-description">
今日よかったことを3つ思い出して日記に記録してみよう！
  </p>

  <div class="top-buttons">
  <%= link_to "アプリの使い方を見る", how_to_use_path, class: "top-button accent-color" %>
  <%= link_to "試してみる", trial_path, class: "top-button accent-color" %>
  <%= link_to "新規登録", new_user_registration_path, class: "top-button accent-color" %>
  <%= link_to "ログイン", new_user_session_path, class: "top-button accent-color" %>
</div>
</div>
